/obj/Debug/net7.0
/obj/Release/net7.0
/obj
/bin/Debug/net7.0
/.vs/LangSequenseTraining/v17
/.vs/ProjectEvaluation
/.vs/LangSequenseTraining/FileContentIndex
/.vs/LangSequenseTraining/DesignTimeBuild
/.vs/LangSequenceTraining/v17
