/LangSequenceTrainingTests/obj
/.vs/LangSequenceTraining/FileContentIndex
/LangSequenceTrainingTests/bin/Debug/net7.0
/.vs/LangSequenceTraining/v17
/.vs/LangSequenceTraining/DesignTimeBuild
/*.user
/LangSequenceTraining.Tests/bin/Debug/net7.0
/LangSequenceTraining.Tests/obj
/LangSequenceTraining.Model/obj
/LangSequenceTraining.Model/bin/Debug/net7.0
/LangSequenceTraining.DAL.EF/obj
/LangSequenceTraining.DAL.EF/bin/Debug/net7.0
/.vs/ProjectEvaluation
/LangSequenceTraining.DAL.Pg/obj/Debug/net7.0/refint
/LangSequenceTraining.DAL.Pg/obj
/LangSequenceTraining.DAL.Pg/bin/Debug/net7.0
/.vs/LangSequenceTraining/config
/LangSequenceTraining.Tests/appsettings.json
